.content-container {
  margin: 60px 20px 20px 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.content-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.content-info-item {
  font-size: 14px;
  color: #888;
  margin-right: 20px;
}

.content-description {
  display: flex;
  align-items: center;
}

.content-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.content-text {
  font-size: 16px;
  color: #333;
}
