.select-wrapper {
  margin: 0 0 35px 0;
  display: inline-block;
}

.select-limit {
  margin: 0 20px 0 0;
}

.page-numbers {
  display: inline-block;
  margin: 30px 240px 0 450px;
}

.page-number {
  display: inline-block;
  margin: 0 30px 0 0;
  cursor: pointer;
}